

.logo-container {
     
     background: var(--gradiant--radial2);
     border-radius: 50%;
     width: 200px;
     height: 200px;
     box-shadow: 0px -5px 100px 10px var(--vite);

}

.logo-container div {

     background: var(--gradiant--linear4);
     height: 100%;
     width: 100%;
     border-radius: 50%;
     box-shadow: 0px 0px 10px 0px var(--blue);
}

.logo-container img {

     height: 100%;

}

#logo-ubuntu{
     position: absolute;
     filter:blur(2px);
     opacity: 0.1;
     height: 300px;
     width: 300px;
}

#logo-header {
    
   
     left: 2em;
    height: 70px;
    width: 70px;
     box-shadow: 0px -5px 100px 10px transparent;

}

#logo-header > div {
     padding: 12px;
   
}

@media (max-width: 450px) {

     #logo-header {
     
               height: 50px;
               width: 50px;
               
          }

                    #logo-header>div {
                         padding: 9px;
          
                    }
}

