button {

     border: none;
     background-color: transparent;
     box-shadow: none;
}

.circle {

     position: relative; 
     border-radius:50%;
     background: var(--gradiant--linear);
     opacity: 70%;
     height:46px;
     width: 46px;
     
}
.circle button {
     border-radius: 50%;
     height:fit-content;
    margin: 5px;
    
  


}

.circle i {
     color: var(--vite);
     font-size: 3em;
     position: absolute;
     top: 3px;
     left: 3px;

     
     
}